@model IEnumerable<WebDeveloper.Model.Person>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@CustomHelper.Message("successMessage","success","The record was created.")
@CustomHelper.Message("editMessage","info","The record was updated.")
@CustomHelper.Message("deleteMessage","danger","The record was deleted.")

<div class="row">
    @CustomHelper.RowSizeDropdown()
    <div class="col-lg-8" id="paginator-container">
        <div class="paginator"></div>
    </div>
</div>

<p>
    <a href="#"
       onclick="getModalContent('@Url.Action("Create", new { area="Personnel" })')"
       data-toggle="modal"
       data-target="#modal-container"
       class="btn btn-success">
        <span class="glyphicon glyphicon-plus"></span> Create New
    </a>

</p>
<div id="personContent"></div>

<input type="hidden" 
       id="baseUrl" 
       value="@Url.Action("", new { controller="Person", area="Personnel" })" />

@CustomHelper.GetModal("Person")
@Scripts.Render("~/bundles/unobtrusive-ajax")
@Scripts.Render("~/bundles/modal")
@Scripts.Render("~/bundles/paginator")
@Scripts.Render("~/bundles/person")

