

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@CustomHelper.AlertMessages()
<div>
    <a href="#" onclick="getModalContent('@Url.Action("Create",new { area="Personnel" })'); return false;" data-toggle="modal" data-target="#modal-container" class="btn btn-success btn-sm">
        <span class="glyphicon glyphicon-plus"></span> Create New
    </a>
</div>
<pagination total-items="100"            
            max-size="10"
            boundary-links="true"
            rotate="false"
            num-pages="100"
            @*ng-change="changePageTo(reviews.pageNo)"*@
            ></pagination>
<div>    
    @Html.Partial("_List")
</div>
@Scripts.Render("~/bundles/unobtrusive-ajax")
@CustomHelper.GetModal("Person")
<script src="~/Scripts/Shared/Modal.js" type="text/javascript"></script>